$white:#fff;
$black:#000;
$grey:gray;
$light-grey:rgb(251, 245, 245);
$font:'Jost', sans-serif;
$light-purple:plum;
$dark-purple:rgba(191, 36, 176, 0.3);
$verydark-purple:rgb(123, 0, 123);
$verylight-purple:rgb(130,70, 143);