@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;
nav {
  background-color: $light-purple;
  //   margin: auto;
}
.nav {
  &__left {
    img {
      cursor: pointer;
    }
  }
  &__container {
    @include flex(space-between, center);
    padding: 2em 0;
  }
  &__right {
    &__modal {
      label{
        cursor: pointer;
      }
      input[type="radio"]{
        cursor: pointer;
      }
      select {
        outline: none;
        width: 20px;
        background-color: $dark-purple;
      }
      p {
        color: $black;
      }
      min-height: 150px;
      min-width: 150px;
      background-color: $white;
      box-shadow: 0px 0px 5px $grey;
      position: absolute;
      top: 18%;
      left: 85%;
      transform: translate(-50%, -50%);
      padding: 1em;
      border-radius: 5px;
      display: none;
    }
    // margin-bottom: 0.5em;
    cursor: pointer;
    @include flex(flex-end, center);
    gap: 1em;
    &__update {
      text-align: center;
      @include flex(flex-end, center);
      gap: 0.5em;
      background-color: $dark-purple;
      padding: 1em;
      border-radius: 3px;
    }
    &__setting {
      @include flex(flex-start, center);
      gap: 1em;
      background-color: $dark-purple;
      padding: 1em;
      border-radius: 3px;
    }
    // &__:nth-child(2){
    //     padding-left: 1em;
    // }
  }
}
